<%= form_for [@contact_request] do |f| %>


  <div class="first-question">
    <div class="top_row">
      <a class="waves-effect waves-light btn-large" id="FTE">Full Time Employer</a>
      <a class="waves-effect waves-light btn-large" id="FO">Freelance Opportunity</a>
    </div>
    <div class="bottom_row">
      <a class="waves-effect waves-light btn-large" id="REC">Recruiter</a>
      <a class="waves-effect waves-light btn-large" id="FRI">Friend</a>
    </div>
    <%= f.hidden_field :purpose, :class => "purpose"%>
  </div>

  <span class="fte-first-panel">
    <div class="center-card">
      <div class="col s12">
        <div class="card darken-3 fte-card">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <%= f.label :company %>
            <%= f.text_field :company %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <%= f.label :phone %>
            <%= f.text_field :phone %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
        </div>
      </div>
    </div>
  </span>

  <span class="fte-second-panel">
    <div class="input-field">
      <%= f.label :role %>
      <%= f.text_field :role %>
    </div>

    <div class="input-field">
      <%= f.label :stack %>
      <%= f.text_field :stack %>
    </div>

    <div class="input-field">
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>

    <input type="date" class="datepicker" placeholder="Pick a day to talk.">

  </span>

<% end %>
